streamlit
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
gspread
google-generativeai>=0.7.2
Pillow
pandas
numpy
SpeechRecognition
streamlit-mic-recorder
edge-tts
PyPDF2
