streamlit
google-generativeai>=0.7.2
edge-tts
SpeechRecognition
streamlit-mic-recorder
Pillow
PyPDF2
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
gspread
pandas
graphviz
pytz
nest_asyncio
