streamlit
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
gspread
google-generativeai>=0.7.2
Pillow
pandas
numpy
SpeechRecognition
streamlit-mic-recorder
edge-tts
pdfplumber
pdf2image
pytesseract
pdf2image==1.17.0
pytesseract==0.3.13
Pillow==10.4.0
